/* #enlarge {
    background-image: url("https://data.whicdn.com/images/262142884/original.gif") no-repeat center center fixed;
    position:absolute;
    width: 100%;
    height: auto;
  } */

  body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("https://data.whicdn.com/images/262142884/original.gif");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


  /* #enlarge { */
    /* background: url("https://data.whicdn.com/images/262142884/original.gif") no-repeat center center fixed; */
    /* position:absolute; */
    /* width: 100%; */
    /* height: auto; */
    /* background-size: cover; */
  /* } */

/* .rowheight{
height: 72px;
} */

/* .rowheight-img{
    height: 109px;
    } */

    .fixed-panel {
        min-height: 10;
        max-height: 10;
        overflow-y: scroll;
      }

  h1{
    color: #FFD700;
    align-content: "center";
    font-family: fantasy;
    font-weight: bolder;
    font-size: 53px;
    padding: 38px;
  }

  .btn-gamerule{
    background: #FFD700;
    color: black;
    padding-left: 34px;
    padding-right: 40px;
    margin-left: 79px;
    height: 52px;
    font-weight: bold;
    font-size: 20px;
  }

  h2{
    color: #FFD700;
    align-content: "center";
    font-family: fantasy;
    font-weight: bolder;
    font-size: 35px;
    padding: 10px;
    /* margin-left: -50px; */
  }

  h3{
    color: #FFD700;
    align-content: "center";
    font-family: fantasy;
    font-weight: bolder;
    font-size: 25px;
    padding: 36px;
    margin-left: -50px;
  }

  .random-number{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* float: left; */
    color: #FFD700;
    height: 42px;
    /* margin-left: -100px; */
    /* font-size: 35px; */
  }

  img{
    width: 77px;
    height: 84px;
    max-width: 400px;
    /* margin-top: 18px; */
  }
  

@media only screen and (max-width: 400px) {
    body {
        background-color: lightblue;
    }
}