@import url("reset.css");
/* #enlarge {
    background-image: url("https://data.whicdn.com/images/262142884/original.gif") no-repeat center center fixed;
    position:absolute;
    width: 100%;
    height: auto;
  } */

  body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("https://data.whicdn.com/images/262142884/original.gif");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





.fixed-panel {
    min-height: 10;
    max-height: 10;
    overflow-y: scroll;
    }

h1{
    color: #FFD700;
    align-content: "center";
    font-family: fantasy;
    font-weight: bolder;
    font-size: 53px;
    padding: 38px;
}

.btn-gamerule{
    background: #FFD700;
    color: black;
    padding-left: 34px;
    padding-right: 40px;
    margin-left: 79px;
    height: 52px;
    font-weight: bold;
    font-size: 20px;
}

h2{
    color: #FFD700;
    align-content: "center";
    font-family: fantasy;
    font-weight: bolder;
    font-size: 35px;
    padding-top: 40px;
}


.random-number{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFD700;
    height: 42px;
}

img{
    width: 77px;
    height: 84px;
    max-width: 400px;
    padding: 10px;
    /* margin-top: 18px; */
}
  
.win-loose{
      padding-top: 25px;
}

.total-score{
    color: #FFD700;
    align-content: "center";
    font-family: fantasy;
    font-weight: bolder;
    font-size: 35px;
}

@media screen and (min-width: 400px) {
    
    h1 {
        font-size: 40px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-top: 24px;
        margin-left: 63px; 
    }

    img {
        width: 77px;
        height: 84px;
        /* max-height: 30px;
        max-width: 77px; */
        margin-top: 18px; 
        image-resolution: 50px;
    }

    #total-score {
       margin-top: 28px;
    }
  
}
   